/* screen reader */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

/* demo-blog */
.theme-blog {

	body & {
  	font-family: 'Roboto', 'Helvetica', sans-serif;
	}

	&.mdl-layout {
		.mdl-layout__content {
	  	padding-top: 50px;
	  	position: relative;
	  	-webkit-overflow-scrolling: touch;
		}
	}

	.theme-blog__posts {
		max-width: 900px;
	  padding: 0;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  width: 100%;
	  margin: 0 auto;
	  -webkit-flex-shrink: 0;
	      -ms-flex-negative: 0;
	          flex-shrink: 0;

		> .theme-nav {
			margin: 12px 15px;
		  display: -webkit-box;
		  display: -webkit-flex;
		  display: -ms-flexbox;
		  display: flex;
		  -webkit-box-orient: horizontal;
		  -webkit-box-direction: normal;
		  -webkit-flex-direction: row;
		      -ms-flex-direction: row;
		          flex-direction: row;
		  -webkit-box-pack: justify;
		  -webkit-justify-content: space-between;
		      -ms-flex-pack: justify;
		          justify-content: space-between;
		  -webkit-box-align: center;
		  -webkit-align-items: center;
		      -ms-flex-align: center;
		          align-items: center;
		  font-weight: 500;

			.mdl-button {
			  color: rgba(0,0,0,0.54);
			}

			> .theme-nav__button {
				text-decoration: none;

				&:first-child .mdl-button {
				  margin-right: 16px;
				}

				&:last-child .mdl-button {
				  margin-left: 16px;
				}
			}
		}

		.comments {
		  background-color: #EEE;
			display: -webkit-box;
		  display: -webkit-flex;
		  display: -ms-flexbox;
		  display: flex;
		  -webkit-box-orient: vertical;
		  -webkit-box-direction: normal;
		  -webkit-flex-direction: column;
		      -ms-flex-direction: column;
		          flex-direction: column;
		  -webkit-box-pack: start;
		  -webkit-justify-content: flex-start;
		      -ms-flex-pack: start;
		          justify-content: flex-start;
		  -webkit-box-align: stretch;
		  -webkit-align-items: stretch;
		      -ms-flex-align: stretch;
		          align-items: stretch;
		  padding: 32px;
		  box-sizing: border-box;

			h2 {
				color: black;
			}
		}
	}

	.mdl-card {
		display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	  -webkit-flex-direction: column;
	      -ms-flex-direction: column;
	          flex-direction: column;
	  -webkit-box-align: stretch;
	  -webkit-align-items: stretch;
	      -ms-flex-align: stretch;
	          align-items: stretch;
	  min-height: 360px;

		> a {
		  color: inherit;
		  text-decoration: none;
		  font-weight: inherit;
		}

	}

	.mdl-card__title {
		padding: 16px;
	  -webkit-box-flex: 1;
	  -webkit-flex-grow: 1;
	      -ms-flex-positive: 1;
	          flex-grow: 1;

		a {
		  color: inherit;
			text-decoration: none;
		}
	}

	.mdl-card__media {
		box-sizing: border-box;
	  background-size: cover;
	  padding: 4px;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-flex: 1;
	  -webkit-flex-grow: 1;
	      -ms-flex-positive: 1;
	          flex-grow: 1;
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
	  -webkit-flex-direction: row;
	      -ms-flex-direction: row;
	          flex-direction: row;
	  -webkit-box-align: end;
	  -webkit-align-items: flex-end;
	      -ms-flex-align: end;
	          align-items: flex-end;
	  cursor: pointer;

		a {
		  color: inherit;
			text-decoration: none;
		}

		~ .mdl-card__supporting-text {
		  min-height: 64px;
		}
	}

	.mdl-card__supporting-text {
		width: 100%;
	  padding: 16px;
	  min-height: 64px;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-align: center;
	  -webkit-align-items: center;
	      -ms-flex-align: center;
	          align-items: center;

		&:not(:last-child) {
		  box-sizing: border-box;
		  min-height: 76px;
		}

		strong {
		 font-weight: 400;
	 	}

		~ .mdl-card__supporting-text {
		  border-top: 1px solid rgba(0,0,0,0.1);
		}
	}

	.mdl-card__actions:first-child {
	  margin-left: 0;
	}

	.section-spacer {
		-webkit-box-flex: 1;
	  -webkit-flex-grow: 1;
	      -ms-flex-positive: 1;
	          flex-grow: 1;
	}

	.meta {
		box-sizing: border-box;
	  padding: 16px;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
	  -webkit-flex-direction: row;
	      -ms-flex-direction: row;
	          flex-direction: row;
	  -webkit-box-align: center;
	  -webkit-align-items: center;
	      -ms-flex-align: center;
	          align-items: center;
	  -webkit-box-pack: start;
	  -webkit-justify-content: flex-start;
	      -ms-flex-pack: start;
	          justify-content: flex-start;
	  height: auto;

		> * {
		  -webkit-box-align: center;
		  -webkit-align-items: center;
		      -ms-flex-align: center;
		          align-items: center;
		}

		.metadata {
			margin-left: 20px;
		}

		+ .mdl-card__supporting-text {
		  border: 0;
		  display: -webkit-box;
		  display: -webkit-flex;
		  display: -ms-flexbox;
		  display: flex;
		  -webkit-box-orient: vertical;
		  -webkit-box-direction: normal;
		  -webkit-flex-direction: column;
		      -ms-flex-direction: column;
		          flex-direction: column;

			p {
			  max-width: 512px;
			  margin: 16px auto;
			  font-size: 16px;
			  line-height: 28px;
			}
		}

	}

	/* footer */
	.mdl-mini-footer {
		margin-top: 80px;
	  height: 120px;
	  padding: 40px;
	  -webkit-box-align: center;
	  -webkit-align-items: center;
	      -ms-flex-align: center;
	          align-items: center;
	  box-sizing: border-box;

		a {
			text-decoration: none;
		}
	}

}

.entry-content {
	p {
  	max-width: 512px;
  	margin: 16px auto;
  	font-size: 16px;
  	line-height: 28px;
	}
}

/* Fixes for IE 10 */
.mdl-grid {
	display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
