/* screen reader */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

a {
  text-decoration: none; }

.logo-rss {
  display: block;
  text-indent: -9999px;
  width: 26px;
  height: 26px;
  background: url("../img/rss-box.svg");
  background-size: 26px 26px; }

.postlist .listdate {
  margin-right: 10px; }

.thumbnails {
  list-style: none; }
  .thumbnails li {
    float: left;
    margin: 10px; }
  .thumbnails + * {
    clear: both; }

iframe + p {
  margin: 16px auto; }

/* demo-blog */
.site {
  /* footer */ }
  body .site {
    font-family: 'Roboto', 'Helvetica', sans-serif; }
  .site.mdl-layout .mdl-layout__content {
    padding-top: 50px;
    position: relative;
    -webkit-overflow-scrolling: touch; }
  .site .mdl-layout__header .mdl-layout-title a {
    color: inherit; }
  .site .mdl-layout__drawer .mdl-layout-title {
    margin: 0; }
    .site .mdl-layout__drawer .mdl-layout-title a {
      color: inherit; }
  .site .theme-card {
    max-width: 900px;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
    .site .theme-card > .theme-nav {
      margin: 12px 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-weight: 500; }
      .site .theme-card > .theme-nav .mdl-button {
        color: rgba(0, 0, 0, 0.54); }
      .site .theme-card > .theme-nav > .theme-nav__button:first-child .mdl-button {
        margin-right: 16px; }
      .site .theme-card > .theme-nav > .theme-nav__button:last-child .mdl-button {
        margin-left: 16px; }
    .site .theme-card .comments {
      background-color: #EEE;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      padding: 32px;
      box-sizing: border-box; }
      .site .theme-card .comments h2 {
        color: black; }
  .site .mdl-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 360px; }
    .site .mdl-card > a {
      color: inherit;
      font-weight: inherit; }
    .site .mdl-card blockquote {
      background-color: #EEE;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding: 5px;
      max-width: 100%; }
    .site .mdl-card blockquote::before {
      font-size: 1.5em;
      margin-top: -0.5em; }
    .site .mdl-card blockquote::after {
      font-size: 1.5em;
      margin-top: -0.5em;
      float: right; }
  .site .mdl-card__title {
    padding: 16px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .site .mdl-card__title a {
      color: inherit; }
  .site .mdl-card__media {
    box-sizing: border-box;
    background-size: cover;
    padding: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    cursor: pointer; }
    .site .mdl-card__media a {
      color: inherit; }
    .site .mdl-card__media ~ .mdl-card__supporting-text {
      min-height: 64px; }
  .site .mdl-card__supporting-text {
    width: 100%;
    padding: 16px;
    min-height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .site .mdl-card__supporting-text:not(:last-child) {
      box-sizing: border-box;
      min-height: 76px; }
    .site .mdl-card__supporting-text strong {
      font-weight: 700; }
    .site .mdl-card__supporting-text ~ .mdl-card__supporting-text {
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .site .mdl-card__actions:first-child {
    margin-left: 0; }
  .site .section-spacer {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .site .meta {
    box-sizing: border-box;
    padding: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: auto; }
    .site .meta > .meta__comment {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 0 8px;
      font-size: 13px;
      font-weight: 500; }
      .site .meta > .meta__comment .material-icons {
        font-size: 2em;
        cursor: pointer;
        margin-left: 12px; }
    .site .meta > *:first-child {
      margin-right: 16px; }
    .site .meta > * {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
  .site .site__posts .mdl-card {
    overflow: visible;
    z-index: 10;
    margin-top: 50px; }
    .site .site__posts .mdl-card > button {
      position: absolute;
      top: 0;
      right: 28px;
      -webkit-transform: translate(0px, -28px);
      -ms-transform: translate(0px, -28px);
      transform: translate(0px, -28px); }
  .site .site__post .meta + .mdl-card__supporting-text {
    border: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .site .site__post .meta + .mdl-card__supporting-text ol,
    .site .site__post .meta + .mdl-card__supporting-text p,
    .site .site__post .meta + .mdl-card__supporting-text table,
    .site .site__post .meta + .mdl-card__supporting-text ul {
      max-width: 512px;
      margin: 16px auto;
      font-size: 16px;
      line-height: 28px; }
    .site .site__post .meta + .mdl-card__supporting-text table {
      display: block; }
    .site .site__post .meta + .mdl-card__supporting-text .section-recipe {
      max-width: 512px;
      margin: 16px auto; }
  .site .site__post .entry-content p {
    max-width: 512px;
    margin: 16px auto;
    font-size: 16px;
    line-height: 28px; }
  .site .theme-crumbs {
    background-color: #EEE;
    padding: 8px 15px; }
  .site .image-gallery .mdl-card {
    min-height: 135px; }
    .site .image-gallery .mdl-card .mdl-card__media {
      margin: auto; }
  .site .mdl-mini-footer {
    margin-top: 80px;
    height: 120px;
    padding: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box; }

.site__title a:hover {
  text-decoration: underline; }

/* Fixes for IE 10 */
.mdl-grid {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

/* site header */
.site__header .site__header-row-middle {
  padding: 0;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.entry-summary > div {
  width: 100%; }

.section {
  clear: both; }

/* link-figure */
.link-figure, .book-figure {
  width: 100%;
  overflow: hidden;
  padding: 10px 0; }

.link-figure-media, .book-figure-media {
  float: left;
  width: 200px; }

.link-figure-title, .book-figure-title {
  font-size: 2em; }

.link-figure-author {
  float: right; }

/* book-figure */
.book-figure-media .book-figure-image img {
  width: 180px;
  height: auto; }

.book-figure-book-number,
.book-figure-review {
  margin: 0 0 10px; }

/*# sourceMappingURL=styles.css.map */
