## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_header()">
    <header id="header" class="mdl-layout__header">
        %if logo_url:
            <div id="brand" class="mdl-layout-icon">
                <img src="${logo_url}" alt="${blog_title|h}" id="logo">
            </div>
        %endif
        <div class="mdl-layout__header-row">
            ${html_site_title()}
            <div class="mdl-layout-spacer"></div>
            %if search_form:
                <div class="searchform" role="search">
                    ${search_form}
                </div>
            %endif
            ${html_translation_header()}
        </div>
    </header>
    ${html_navigation_links()}
    ${template_hooks['page_header']()}
</%def>

<%def name="html_site_title()">
    % if show_blog_title:
        <span id="blog-title" class="mdl-layout-title">${blog_title|h}</span>
    % endif
</%def>

<%def name="html_navigation_links()">
    <div class="mdl-layout__drawer">
        % if show_blog_title:
            <span class="mdl-layout-title">${blog_title|h}</span>
        % endif
        <nav class="mdl-navigation">
            %for url, text in navigation_links[lang]:
                % if rel_link(permalink, url) == "#":
                    <a class="mdl-navigation__link active" href="${permalink}">${text} <span class="sr-only">${messages("(active)", lang)}</span></a>
                %else:
                    <a class="mdl-navigation__link" href="${url}">${text}</a>
                %endif
            %endfor
            ${template_hooks['menu']()}
            ${template_hooks['menu_alt']()}
        </nav>
    </div>
</%def>

<%def name="html_translation_header()">
    %if len(translations) > 1:
        <button id="toptranslations"
                class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="toptranslations">
            <li class="mdl-menu__item">${messages("Languages:")}</li>
            <li class="mdl-menu__item">${base.html_translations()}</li>
        </ul>
    %endif
</%def>
