## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_footer()">
    %if content_footer:
        <footer id="footer"
            %if mdl__footer == "mdl__mega_footer":
                class="mdl-mega-footer site__footer"
            %elif mdl__footer == "mdl__mini_footer":
                class="mdl-mini-footer site__footer"
            %endif
        >
            ${content_footer}
            ${template_hooks['page_footer']()}
        </footer>
    %endif
</%def>
