## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_footer()">
    %if content_footer:
        %if nikola-mdl-mako_mega_footer:
            <footer id="footer" class="mdl-mega-footer">
                ${content_footer}
                ${template_hooks['page_footer']()}
            </footer>
        %else:
            <footer id="footer" class="mdl-mini-footer">
                ${content_footer}
                ${template_hooks['page_footer']()}
            </footer>
        %endif
    %endif
</%def>
