## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_footer()">
    %if content_footer:
        <footer id="footer" class="site__footer
            %if mdl__footer == "mdl__mega_footer":
mdl-mega-footer
            %elif mdl__footer == "mdl__mini_footer":
mdl-mini-footer
            %endif
        ">
            ${content_footer}
            ${template_hooks['page_footer']()}
        </footer>
    %endif
</%def>
