## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>

<%block name="content">
<div class="theme-blog__page theme-card mdl-grid">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <article class="listpage">
            <div class="mdl-card__title">
                <header>
                    <h1>${title|h}</h1>
                </header>
            </div>
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                %if items:
                <ul class="postlist">
                % for text, link, count in items:
                    <li>
                    % if count:
                        <a href="${link}" class="mdl-badge" data-badge="${count}">${text|h}</a>
                    % else:
                        <a href="${link}">${text|h}</a>    
                    % endif
                    </li>
                % endfor
                </ul>
                %else:
                <p>${messages("Nothing found.")}</p>
                %endif
            </div>
        </article>
    </div>
</div>
</%block>
