## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>

<%def name="html_title()">
%if title and not post.meta('hidetitle'):
    <div class="mdl-card__title">
        <header>
        <h1 class="p-name entry-title" itemprop="headline name"><a href="${post.permalink()}" class="u-url">${post.title()|h}</a></h1>
        </header>
    </div>
%endif
</%def>

<%def name="html_translations(post)">
    % if len(post.translated_to) > 1:
        <div class="metadata posttranslations translations">
            <h3 class="posttranslations-intro">${messages("Also available in:")}</h3>
            % for langname in sorted(translations):
                % if langname != lang and post.is_translation_available(langname):
                <p><a href="${post.permalink(langname)}" rel="alternate" hreflang="${langname}">${messages("LANGUAGE", langname)}</a></p>
                % endif
            % endfor
        </div>
    % endif
</%def>

<%def name="html_sourcelink()">
    <div>
    % if show_sourcelink:
        <span class="metadata sourceline"><a href="${post.source_link()}" id="sourcelink">${messages("Source")}</a></span>
    % endif
    </div>
</%def>

<%def name="html_post_header()">
    ${html_title()}
    <div class="mdl-card__supporting-text meta">
        <div><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">${"".join([x[0].upper() for x in post.author().split()])}</button></div>
        <div>
            <strong class="metadata byline author vcard">
                <span class="byline-name fn">
                % if author_pages_generated:
                    <a href="${_link('author', post.author())}">${post.author()|h}</a>
                % else:
                    ${post.author()|h}
                % endif
                </span>
            </strong>
            <span class="metadata dateline">
                <time class="published dt-published" datetime="${post.formatted_date('webiso')}" itemprop="datePublished" title="${post.formatted_date(date_format)|h}">${post.formatted_date(date_format)|h}
                </time>
            </span>
        </div>
        ${html_sourcelink()}
        % if post.meta('link'):
        <div>
            <span class="metadata linkline"><a href="${post.meta('link')}">${messages("Original site")}</a></span>
        </div>
        % endif
        %if post.description():
            <meta name="description" itemprop="description" content="${post.description()|h}">
        %endif
        <div class="section-spacer"></div>
        % if not post.meta('nocomments') and site_has_comments:
        <div class="meta__comment">
            <span class="metadata commentline">
                ${comments.comment_link(post.permalink(), post._base_path)}
            </span>
        </div>
        % endif
        ${helper.html_tags(post)}
    </div>
    ${html_translations(post)}
</%def>
